#wrapper {
    margin: 0px;
    padding: 0px;
    background-image: url("assets/DDOS.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
}

body {
    font-family: 'Calibri';
    font-style: normal;
    width: 616px;
}

#one{
    background-color: rgba(255, 255, 255, 0.445);
}

.trackers {
    margin: 5px;
    font-weight: bolder;
}

.trackers-history {
    justify-content: center;
    text-align: center;
    font-family: 'Calibri';
}

ul {
    list-style-type: none;
    margin-left: 164px;
}

.panel ul{
    margin-left: 0px;
}

.panel ul p{
    margin-left: 0px;
    margin-left: -40px;
}

.show {
    display: block;
}

.displayItems {
    display: none;
}

.accordion {
    background-color: #7070706b;
    cursor: pointer;
    width: 19%;
    font-size: 20px;
    border: solid;
    border-color: darkblue;
    border-bottom-width: thick;
    border-radius: 40px;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: rgba(255, 255, 255, 0.445);
    font-weight: bold;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    font-family: 'Calibri';
}

.active:after {
    content: "\2796";
}

.mainTitle {
    margin-top: 3%;
    width: 100%;
    font-family: 'Calibri';
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.888);
}

.subTitle1 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.888);
}

.zoomIcon {
    margin-left: 2.3px
}